{% extends "layouts/chat.html" %}

{% block title %} Forms {% endblock title %}

{% block layout %} sidebar_minimize {% endblock layout %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- 
    
    A concept for a chat interface. 
    
    Try writing a new message! :)
    
    
    Follow me here:
    Twitter: https://twitter.com/thatguyemil
    Codepen: https://codepen.io/emilcarlsson/
    Website: http://emilcarlsson.se/
    
    -->
        <div id="allData" data="{{allContacts}}"></div>
        <div id="profile" content="{{profilePic}}"></div>

        <div class="centerit">
            <div class="chat-container">
                <aside>
                    <div class="top-bar">
                        <form action="" method="post" id="addSubmit">
                            {% csrf_token %}
                            <input type="text" style="display: none;" name="keyInput" id="key">
                            <input type="text" style="display: none;" name="invite" id="invite">
                            <input type="text" style="display:none;" id="person1" name="person1">
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="new-conversation" type="button" id="alert_demo_5" style="float:center;">Join</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="new-conversation" type="submit" id="alert_demo_4" name="create" value="on" style="float:center;">Create</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="new-conversation ml-2" type="button" id="alert_demo_3" name="create" value="on"
                                        style="float:center;">Invite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="conversations">
                        {% for chatID, contactList, messages, profile, lastMessageList in zippedData %}
                            <a class="tablinks" onclick="openCity(event, '{{forloop.counter}}')" number="{{forloop.counter}}">
                                <div class="thread">
                                    <div class="details">
                                        {% if profile.1 == True %}
                                            <div class="user-head online">
                                                <img src="../media/{{profile.0}}">
                                            </div>
                                        {% else %}
                                            <div class="user-head away">
                                                <img src="../media/{{profile.0}}">
                                            </div>
                                        {% endif %}
                                        {% if contactList|length != 1 %}
                                            {% for contact in contactList %}
                                                {% if contact != user.get_username %}
                                                    <div class="user-name">{{contact}}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="user-name">You Are The ONLY One</div>
                                        {% endif %}
                                        <div class="last-message">{{lastMessageList.0}}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                       
                    </div>
                </aside>
                <main>
                    <div class="top-bar">
                        <div class="user-info">
                            <div class="user-head">
                                <img src="../media/{{myProfile}}">
                            </div>
                            <div class="name">{{user.get_username}}</div>
                            <div class="status online"></div>
                        </div>
                        
                    </div>
                    {% for chatID, contactList, messages, profile, lastMessageList in zippedData %}
                        <div class="messages" id="{{forloop.counter}}">
                            
                            {% for message in messages %}
                                {% if message.user != user.get_username %}
                                    <div class="message">
                                        <div class="user-head">
                                            <img src="../media/{{profile.0}}">
                                        </div>
                                        <div class="content">{{message.content.1}}</div>
                                    </div>
                                {% else %}
                                    <div class="message fromme">
                                        <div class="user-head online">
                                            <img src="../media/{{myProfile}}">
                                        </div>
                                        <div class="content">{{message.content.1}}</div>
                                       
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="bottom-bar">
                            <textarea class="msg-input" name="message" placeholder="New Message" style="resize: none;"></textarea>
                            <input type="text" style="display:none;" id="person" name="person">
                            <button class="btn btn-danger mr-5" type="submit">Send</button>
                        </div>
                    </form>
                </main>
                
            </div>
        </div>

    
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var profile = document.getElementById('profile').getAttribute('content');
    console.log(profile);
    document.getElementById("profilePic").src = `../media/${profile}`;
    $('.chat-container').scrollTop($('.chat-container')[0].scrollHeight);

    $("[number='1']").click(function () {
        if (null == this.ran) {
            this.ran = true;
        }
    })
    var allContacts = eval(document.getElementById('allData').getAttribute('data'));
    console.log(allContacts);
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    var SweetAlert2Demo = function () {
        //== Demos
        var initDemos = function () {
            //== Sweetalert Demo 1
            $('#alert_demo_3').click(function (e) {
                swal({
                    title: 'Username:',
                    html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Username",
                            type: "text",
                            id: "input-field",
                            className: "form-control"
                        }
                    },
                    buttons: {
                        cancel: {
                            visible: true,
                            className: 'btn btn-danger'
                        },
                        confirm: {
                            className: 'btn btn-success',
                        },
                        allowOutsideClick: false

                    },
                }).then(
                    function () {
                        sleep(2000).then(() => {
                            document.getElementById('invite').value = $('#input-field').val();
                            document.getElementById("addSubmit").submit();
                        })
                    }
                );
            });
            $('#alert_demo_5').click(function (e) {
                swal({
                    title: 'Enter Chat ID',
                    html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Enter Chat ID",
                            type: "text",
                            id: "input-field",
                            className: "form-control"
                        }
                    },
                    buttons: {
                        cancel: {
                            visible: true,
                            className: 'btn btn-danger'
                        },
                        confirm: {
                            className: 'btn btn-success',
                        },
                        allowOutsideClick: false

                    },
                }).then(
                    function () {
                        sleep(2000).then(() => {
                            document.getElementById('key').value = $('#input-field').val();
                            document.getElementById("addSubmit").submit();                     
                        })
                    }
                );
            });
        };

        return {
            //== Init
            init: function () {
                initDemos();
            },
        };
    }();
    jQuery(document).ready(function () {
        SweetAlert2Demo.init();
    });
    openCity(event, '1')
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("messages");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        
        document.getElementById('person').value = allContacts[cityName-1];
        document.getElementById('person1').value = allContacts[cityName - 1];
    }
    //== Class Initialization
    
</script>
{% endblock javascripts %}