
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block layout %} sidebar_minimize {% endblock layout %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div id="matchAverageTop" data="{{matchesAverage}}" actVal="{{matchesAverageStatic}}"></div>
    <div id="skillsDriverTop" data="{{skillsDriver}}" actVal="{{skillsDriverAverage}}"></div>
    <div id="skillsProgrammingTop" data="{{skillsProgramming}}" actVal="{{skillsProgrammingAverage}}"></div>
    <div id="skillsAverageTop" data="{{averageDataSkills}}" label="{{barLabels}}"></div>
    <div id="mainChart" data="{{data}}" xAxis="{{xAxis}}"></div>
    <div id="sideChart1" labels="{{lastMonthLabels}}" data="{{lastMonthValues}}"></div>
    <div id="sideChart2" data="{{lastCompRankings}}"></div>
    <div id="mapData" justCountry="{{justCountry}}"></div>
    <div id="profile" content="{{profilePic}}"></div>
    <div class="panel-header bg-danger-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div style="text-align:center;" class="col-md-6 ml-auto mr-auto">
            <h2 class="text-white pb-2 fw-bold">Vex Dashboard</h2>
            <h5 class="text-white op-7 mb-2">Beautiful Graphs On You Fingertips</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">
      <div class="row mt--2">
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Overall statistics</div>
              <div class="card-category">Daily information about your performance</div>
              <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-1"></div>
                  <h6 class="fw-bold mt-3 mb-0">Match Average</h6>
                  <p>Goal: {{goal1}}</p>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-2"></div>
                  <h6 class="fw-bold mt-3 mb-0">Skills Driving</h6>
                  <p>Goal: {{goal2}}</p>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-3"></div>
                  <h6 class="fw-bold mt-3 mb-0">Skills Programming</h6>
                  <p>Goal: {{goal3}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Average Skills Performance</div>
              <div class="row py-3">
                <div class="col-md-4 d-flex flex-column justify-content-around">
                  <div>
                    <h6 class="fw-bold text-uppercase text-success op-8">Average Wins:</h6>
                    <h3 class="fw-bold">{{averageDataSkills.0}}</h3>
                  </div>
                  <div>
                    <h6 class="fw-bold text-uppercase text-danger op-8">Average Losses:</h6>
                    <h3 class="fw-bold">{{averageDataSkills.1}}</h3>
                  </div>
                </div>
                <div class="col-md-8">
                  <div id="chart-container">
                    <canvas id="topSkillsChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Monthly Progression</div>
                <div class="card-tools">
                  <form action="" id="mainForm" method="post">
                    {% csrf_token %}
                    <div class="selectgroup selectgroup-danger w-100">
                      <label class="selectgroup-item">
                        <input type="radio" name="mainRadio" value="match" onchange='if(this.value != "myPosition") { this.form.submit(); }' class="selectgroup-input">
                        <span class="selectgroup-button">Matches</span>
                      </label>
                      <label class="selectgroup-item">
                        <input type="radio" name="mainRadio" value="skills" onchange='if(this.value != "myPosition") { this.form.submit(); }' class="selectgroup-input">
                        <span class="selectgroup-button">Skills</span>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container" style="min-height: 375px">
                <canvas id="mainChartGraph"></canvas>
              </div>
              <div id="myChartLegend"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-danger">
            <div class="card-header">
              <div class="card-title">Month Of {{lastMonthDate}}</div>
              <div class="card-category">All Matches Of This Month</div>
            </div>
            <div class="card-body pb-0">
              <div class="pull-in">
                <canvas id="dailySalesChart"></canvas>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body pb-0">
              <h2 >Latest Event Rankings: </h2>
              <div class="pull-in sparkline-fix">
                <canvas id="sidechartGraph2"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-card-no-pd">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <h4 class="card-title">Team Geolocation: </h4>
              </div>
              <p class="card-category">
              These are the top 5 teams in the world:</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-responsive table-hover table-sales">
                    <table class="table">
                      <thead>
                        <tr>
                          <td>Flag</td>
                          <td>Team</td>
                          <td class="text-right">Match Average</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for team in allTeamData %}
                        <tr>
                          <td>
                            <div class="flag">
                              <img src="/static/assets/img/flags/{{team.3}}.png" alt="{{team.0}}">
                            </div>
                          </td>
                          <td>{{team.1}}</td>
                          <td class="text-right">
                            {{team.2}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mapcontainer">
                    <div id="map-example" class="vmap"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0"></li>
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-1 pr-md-0" style="margin-left:3%;"></div>
              {% for team in worseList %}
              <div class="col-md-3 pr-md-0">
                <div class="card card-pricing">
                  <div class="card-header">
                    <h4 class="card-title">{{team.0}}</h4>
                    <div class="card-price">
                      {% if team.1 == True %}
                      <span class="price text-success">{{team.2}}</span>
                      {% elif team.1 == False %}
                      <span class="price text-danger">{{team.2}}</span>
                      {% else %}
                      <span class="price text-warning">{{team.2}}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="specification-list">
                      <li>
                        <span class="name-specification">Driver Skills Score</span>
                        <span class="status-specification">{{team.3}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Prog Skills Score</span>
                        <span class="status-specification">{{team.4}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Country</span>
                        <span class="status-specification">{{team.5}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Grade</span>
                        <span class="status-specification">{{team.6}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Team Name</span>
                        <span class="status-specification">{{team.7}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% for numb in worsefiller %}
              <div class="col-md-3 pr-md-0">
                <div class="card card-pricing">
                  <div class="card-header">
                    <h4 class="card-title">Bottom</h4>
                    <div class="card-price">
                      <span class="price text-danger">This is the BOTTOM</span>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="col-md-1 pr-md-0"></div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-1 pr-md-0" style="margin-left:3%;"></div>
              
                  {% for team in mixedList %}
                  <div class="col-md-3 pr-md-0">
                    <div class="card card-pricing">
                      <div class="card-header">
                        <h4 class="card-title">{{team.0}}</h4>
                        <div class="card-price">
                          {% if team.1 == True %}
                          <span class="price text-success">{{team.2}}</span>
                          {% elif team.1 == False %}
                          <span class="price text-danger">{{team.2}}</span>
                          {% else %}
                          <span class="price text-warning">{{team.2}}</span>
                          {% endif %}
                        </div>
                      </div>
                      <div class="card-body">
                        <ul class="specification-list">
                          <li>
                            <span class="name-specification">Driver Skills Score</span>
                            <span class="status-specification">{{team.3}}</span>
                          </li>
                          <li>
                            <span class="name-specification">Prog Skills Score</span>
                            <span class="status-specification">{{team.4}}</span>
                          </li>
                          <li>
                            <span class="name-specification">Country</span>
                            <span class="status-specification">{{team.5}}</span>
                          </li>
                          <li>
                            <span class="name-specification">Grade</span>
                            <span class="status-specification">{{team.6}}</span>
                          </li>
                          <li>
                            <span class="name-specification">Team Name</span>
                            <span class="status-specification">{{team.7}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% for numb in mixfiller %}
                  <div class="col-md-3 pr-md-0">
                    <div class="card card-pricing">
                      <div class="card-header">
                        <h4 class="card-title">TOP</h4>
                        <div class="card-price">
                          <span class="price text-success">This is the TOP</span>                        
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              
              <div class="col-md-1 pr-md-0"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-1 pr-md-0" style="margin-left:3%;"></div>
              {% for team in betterList %}
              <div class="col-md-3 pr-md-0">
                <div class="card card-pricing">
                  <div class="card-header">
                    <h4 class="card-title">{{team.0}}</h4>
                    <div class="card-price">
                      {% if team.1 == True %}
                      <span class="price text-success">{{team.2}}</span>
                      {% elif team.1 == False %}
                      <span class="price text-danger">{{team.2}}</span>
                      {% elif team.1 == 1 %}
                      <span class="price text-warning">{{team.2}}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="specification-list">
                      <li>
                        <span class="name-specification">Driver Skills Score</span>
                        <span class="status-specification">{{team.3}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Prog Skills Score</span>
                        <span class="status-specification">{{team.4}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Country</span>
                        <span class="status-specification">{{team.5}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Grade</span>
                        <span class="status-specification">{{team.6}}</span>
                      </li>
                      <li>
                        <span class="name-specification">Team Name</span>
                        <span class="status-specification">{{team.7}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% for numb in betterfiller %}
              <div class="col-md-3 pr-md-0">
                <div class="card card-pricing">
                  <div class="card-header">
                    <h4 class="card-title">TOP</h4>
                    <div class="card-price">
                      <span class="price text-success">This is the TOP</span>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="col-md-1 pr-md-0"></div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <br>
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-header">
              <div class="card-title">Calendar Events: </div>
            </div>
            <div class="card-body">
              {% if is_validVar %}
                <ol class="activity-feed"> 
                  {% for activity in fullActivityList %}
                    <li class="feed-item feed-item-{{activity.3}}">
                      <time class="date" datetime="{{activity.2}}">{{activity.1}}</time>
                      <span class="text">{{activity.0}}</span>
                    </li>
                  {% endfor %}
                </ol>
              {% else %}
                <br />
                <br />
                <br />

                <h6 style="text-align:center;">Visit  <a href="/calendar" class="text-primary">Calendar</a> To Fill In Your Activites</h6>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- textMessageList -->
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Messaging</div>
              </div>
            </div>
            <div class="card-body">
              {% for text in textMessageList %}
                <div class="d-flex">
                  {% if text.3 == True %}
                    <div class="avatar avatar-online">
                  {% else %}
                    <div class="avatar avatar-offline">
                  {% endif %}
                  {% if text.4 != "You Are The Only One" %}
                    <img src="../media/{{text.2}}" alt="..." class="avatar-img rounded-circle">
                  {% endif %}
                  </div>
                  <div class="flex-1 ml-3 pt-1">
                    <h6 class="fw-bold mb-1">{{text.4}}</h6>
                    <span class="text-muted">{{text.0}}</span>
                  </div>
                  <div class="float-right pt-1">
                    <small class="text-muted">{{text.1}}</small>
                  </div>
                </div>
                <div class="separator-dashed"></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}


	<script>
    var matchesAverage = eval(document.getElementById('matchAverageTop').getAttribute('data'));
    var skillsDriver = eval(document.getElementById('skillsDriverTop').getAttribute('data'));
    var skillsProgramming = eval(document.getElementById('skillsProgrammingTop').getAttribute('data'));

    var matchesAverageStatic = eval(document.getElementById('matchAverageTop').getAttribute('actVal'));
    var skillsDriverStatic = eval(document.getElementById('skillsDriverTop').getAttribute('actVal'));
    var skillsProgrammingStatic = eval(document.getElementById('skillsProgrammingTop').getAttribute('actVal'));
  
		Circles.create({
			id:'circles-1',
			radius:45,
			value: matchesAverage,
			maxValue:100,
			width:7,
			text: matchesAverageStatic,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value: skillsDriver,
			maxValue:100,
			width:7,
			text: skillsDriverStatic,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value: skillsProgramming,
			maxValue:100,
			width:7,
			text: skillsProgrammingStatic,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var topSkillsChart = document.getElementById('topSkillsChart').getContext('2d');
    var barData = eval(document.getElementById('skillsAverageTop').getAttribute('data'))
    var barLabels = eval(document.getElementById('skillsAverageTop').getAttribute('label'))
    console.log(barLabels);
		var mytopSkillsChart = new Chart(topSkillsChart, {
			type: 'bar',
			data: {
				labels: barLabels,
				datasets : [{
          lable:'My Team',
					backgroundColor: '#ff9e27',
					data: barData,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						},
            display:false,
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
    });
    var justCountry = eval(document.getElementById('mapData').getAttribute('justCountry'))
    console.log(justCountry);
    $('#map-example').vectorMap(
        {
          map: 'world_en',
          backgroundColor: 'transparent',
          borderColor: '#f3545d',
          borderWidth: 2,
          color: '#e4e4e4',
          enableZoom: false,
          hoverColor: '#f3545d',
          hoverOpacity: null,
          normalizeFunction: 'linear',
          scaleColors: ['#f3545d', '#f3545d'],
          selectedColor: '#f3545d',
          selectedRegions: justCountry,
          showTooltip: true,
          onRegionClick: function (element, code, region) {
            return false;
          },
          onResize: function (element, width, height) {
            console.log('Map Size: ' + width + 'x' + height);
          },
        });
      //Chart
      var data = eval(document.getElementById('mainChart').getAttribute('data'))
      var labels = eval(document.getElementById('mainChart').getAttribute('xAxis'))
      var colorsList = ["#f3545d", "#EC3103", "#FF8F01", "#FFC101", "#F6E10D", "#11E80B", "#0BE880", "#0BD0E8", "#2AA1E9", "#385BDE", "#7A33B9", "#C541D5", "#FF00D1", "##FF00A2", "#00ff00", "#ffff66", "#ff6699", "#6699ff", "#00ccff", "#00cc66", "#1d7af3", "#f3545d", "#59d05d", "#1d7af3"]

      console.log(labels)
      var fullDataList = [];
      for (index = 0; index < data.length; index++) {
        pushData = {
          label: data[index][0],
          borderColor: colorsList[index],
          pointBackgroundColor: colorsList[index],
          pointRadius: 0,
          legendColor: colorsList[index],
          fill: true,
          borderWidth: 2,
          data: data[index][1]
        }
        fullDataList.push(pushData)
        
      }
      console.log(fullDataList);
      var mainctx = document.getElementById('mainChartGraph').getContext('2d');

      var mainChart = new Chart(mainctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: fullDataList
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false
          },
          tooltips: {
            bodySpacing: 4,
            mode: "nearest",
            intersect: 0,
            position: "nearest",
            xPadding: 10,
            yPadding: 10,
            caretPadding: 10
          },
          layout: {
            padding: { left: 5, right: 5, top: 15, bottom: 15 }
          },
          scales: {
            yAxes: [{
              ticks: {
                fontStyle: "500",
                beginAtZero: false,
                maxTicksLimit: 5,
                padding: 10
              },
              gridLines: {
                drawTicks: false,
                display: false
              }
            }],
            xAxes: [{
              gridLines: {
                zeroLineColor: "transparent"
              },
              ticks: {
                padding: 10,
                fontStyle: "500"
              }
            }]
          },
          legendCallback: function (chart) {
            var text = [];
            text.push('<ul class="' + chart.id + '-legend html-legend">');
            for (var i = 0; i < chart.data.datasets.length; i++) {
              text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
              if (chart.data.datasets[i].label) {
                text.push(chart.data.datasets[i].label);
              }
              text.push('</li>');
            }
            text.push('</ul>');
            return text.join('');
          }
        }
      });

      var myLegendContainer = document.getElementById("myChartLegend");

      // generate HTML legend
      myLegendContainer.innerHTML = mainChart.generateLegend();

      // bind onClick event to all LI-tags of the legend
      var legendItems = myLegendContainer.getElementsByTagName('li');
      for (var i = 0; i < legendItems.length; i += 1) {
        legendItems[i].addEventListener("click", legendClickCallback, false);
      }
      var dailySalesChart = document.getElementById('dailySalesChart').getContext('2d');
      var sideChartData = eval(document.getElementById('sideChart1').getAttribute('data'))
      var sideChartLabels = eval(document.getElementById('sideChart1').getAttribute('labels'))

      // <div id="sideChart1" labels="{{lastMonthLabels}}" data="{{lastMonthValues}}"></div>

      var myDailySalesChart = new Chart(dailySalesChart, {
        type: 'line',
        data: {
          labels: sideChartLabels,
          datasets: [{
            label: "Score: ", fill: !0, backgroundColor: "rgba(255,255,255,0.2)", borderColor: "#fff", borderCapStyle: "butt", borderDash: [], borderDashOffset: 0, pointBorderColor: "#fff", pointBackgroundColor: "#fff", pointBorderWidth: 1, pointHoverRadius: 5, pointHoverBackgroundColor: "#fff", pointHoverBorderColor: "#fff", pointHoverBorderWidth: 1, pointRadius: 1, pointHitRadius: 5, data: sideChartData
          }]
        },
        options: {
          maintainAspectRatio: !1, legend: {
            display: !1
          }
          , animation: {
            easing: "easeInOutBack"
          }
          , scales: {
            yAxes: [{
              display: !1, ticks: {
                
                fontColor: "rgba(0,0,0,0.5)", fontStyle: "bold", beginAtZero: !0, maxTicksLimit: 10, padding: 0
              }
              , gridLines: {
                drawTicks: !1, display: !1
              }
            }
            ], xAxes: [{
              display: !1, gridLines: {
                zeroLineColor: "transparent"
              }
              , ticks: {
                stepSize: 1,
                callback: function (value, index, values) {
                  return "Event " + (value + 1);
                },
                padding: -20, fontColor: "rgba(255,255,255,0.2)", fontStyle: "bold"
              }
            }
            ]
          }
        }
      });
      var sideChartBarData = eval(document.getElementById('sideChart2').getAttribute('data'))
      var barChartMonth = document.getElementById('sidechartGraph2').getContext('2d');
      var barChartMonthGraph = new Chart(barChartMonth, {
        type: 'bar',
        data: {
          labels: barLabels,
          datasets: [{
            label: "Last Competition",
            backgroundColor: "#f3545d",
            data: sideChartBarData,
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          scales: {
            yAxes: [{
              ticks: {
                display: false //this will remove only the label
              },
              gridLines: {
                drawBorder: false,
                display: false
              }
            }],
            xAxes: [{
              gridLines: {
                drawBorder: false,
                display: false
              },
              display: false,
            }]
          },
        }
      });
      var profile = document.getElementById('profile').getAttribute('content');
      document.getElementById("profilePic").src = `../media/${profile}`;

          
	</script>

{% endblock javascripts %}
