

<!-- Specific CSS goes HERE -->


<!-- (Almost) A blank page -->
    <!-- Card -->
    <div id="myPositionData" xAxis="{{xAxis}}" yAxis="{{yAxis}}" teams="{{teams}}"></div>
    <div id="betterAverageData" team1="{{betterAverageTeam1}}" team2="{{betterAverageTeam2}}"></div>
    <div id="worseAverageData" team1="{{worseAverageTeam1}}" team2="{{worseAverageTeam2}}"></div>
    <div id="mapData" justCountry="{{justCountryMatches}}"></div>

    <h4 class="page-title" id="matchesPart" style="text-align:center;font-size:40px;color:#f3545d;font-weight:bold;">Matches</h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Progression</div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:500px;">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-8">
            <label class="form-label">Choose:</label>
            <form method="post">
                {% csrf_token %}
                <div class="selectgroup selectgroup-danger w-100">
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tableInfo" value="myPosition" class="selectgroup-input"
                            checked="checked">
                        <span class="selectgroup-button">My Position</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tableInfo" value="myCompetitors" class="selectgroup-input">
                        <span class="selectgroup-button">My Competitors</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tableInfo" value="top10" class="selectgroup-input">
                        <span class="selectgroup-button">Top 10</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="checkbox" name="tableInfo" value="bottom10" class="selectgroup-input">
                        <span class="selectgroup-button">Bottom 10</span>
                    </label>
                    <button name="submit" class="btn btn-danger btn-border ml-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Progression Data: </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="Datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Average</th>
                                    <th>Office</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Team</th>
                                    <th>Average</th>
                                    <th>Office</th>
                                    <th>Country</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in tableList %}
                                <tr>
                                    {% for elem in team %}
                                    <td>{{elem}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2 class="page-title">Similar Teams: </h2>
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">+{{betterTeamDiff1}}%</div>
                    <h2 class="mb-2">{{betterTeamNumber1}}</h2>
                    <p class="text-muted">Current Average: {{betterTeamAverage1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSpark1"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">+{{betterTeamDiff2}}%</div>
                    <h2 class="mb-2">{{betterTeamNumber2}}</h2>
                    <p class="text-muted">Current Average: {{betterTeamAverage2}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSpark2"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">-{{worseTeamDiff1}}%</div>
                    <h2 class="mb-2">{{worseTeamNumber1}}</h2>
                    <p class="text-muted">Current Average: {{worseTeamAverage1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSpark3"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">-{{worseTeamDiff2}}%</div>
                    <h2 class="mb-2">{{worseTeamNumber2}}</h2>
                    <p class="text-muted">Current Average: {{worseTeamAverage2}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSpark4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Matches</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Event</th>
                                    <th>Match</th>
                                    <th>Time</th>
                                    <th>Field</th>
                                    <th>Red</th>
                                    <th>Blue</th>
                                    <th>Score</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Event</th>
                                    <th>Match</th>
                                    <th>Time</th>
                                    <th>Field</th>
                                    <th>Red</th>
                                    <th>Blue</th>
                                    <th>Score</th>
                                    <th>Result</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for date,blueScore,redScore,field,red,blue,result,match,event in allDataTable %}
                                <tr>
                                    <td>{{event}}</td>
                                    <td>{{match}}</td>
                                    <td>{{date}}</td>
                                    <td>{{field}}</td>
                                    <td>
                                        <span class="badge badge-danger" style="font-size: 15px;">{{red.0}}</span>
                                        <span class="badge badge-danger" style="font-size: 15px;">{{red.1}}</span>
                                        <span class="badge badge-danger" style="font-size: 15px;">{{red.2}}</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-primary" style="font-size: 15px;">{{blue.0}}</span>
                                        <span class="badge badge-primary" style="font-size: 15px;">{{blue.1}}</span>
                                        <span class="badge badge-primary" style="font-size: 15px;">{{blue.2}}</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-danger" style="font-size: 15px;">{{redScore}}</span>
                                        <span class="badge badge-primary" style="font-size: 15px;">{{blueScore}}</span>
                                    </td>
                                    <td>
                                        {% if result == "win" %}
                                        <i class="fas fa-window-close text-danger" style="font-size: 40px;"></i>
                                        {% elif result == "tie" %}
                                        <i class="flaticon-signs text-warning" style="font-size: 40px;"></i>
                                        {% else %}
                                        <i class="fas fa-check text-success" style="font-size: 40px;"></i>
                                        {% endif %}
                                    </td>

                                    <!-- fas fa-window-close -->
                                    <!-- fas fa-check -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-card-no-pd">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <h4 class="card-title">Global Map: </h4>
                        <div class="form-group form-group-default col-md-2" style="margin-left:70%;">
                            <form method="POST" id="mapForm">
                                {% csrf_token %}
                                <label>Options</label>
                                <select class="form-control" name="map"
                                    onchange='if(this.value != "myPosition") { this.form.submit(); }'>
                                    <option value="myPosition" selected>My Position</option>
                                    <option value="myCompetitors">My Competitors</option>
                                    <option value="top10">Top 10</option>
                                    <option value="bottom10">Bottom 10</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="card-category">
                    Scout For Teams All Around The World!</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive table-hover table-sales">
                            <table class="table">
                                <tbody>
                                    {% for team in allTeamData %}
                                    <tr>
                                        <td>
                                            <div class="flag">
                                                <img src="/static/assets/img/flags/{{team.3}}.png" alt="{{team.0}}">
                                            </div>
                                        </td>
                                        <td>{{team.1}}</td>
                                        <td class="text-right">
                                            {{team.2}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mapcontainer">
                            <div id="map-example1" class="vmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var lineChart = document.getElementById('lineChart').getContext('2d');
    var xAxis = eval(document.getElementById('myPositionData').getAttribute('xAxis'));
    var yAxis = eval(document.getElementById('myPositionData').getAttribute('yAxis'));
    var teams = eval(document.getElementById('myPositionData').getAttribute('teams'));
    var betterTeam1 = eval(document.getElementById('betterAverageData').getAttribute('team1'));
    var betterTeam2 = eval(document.getElementById('betterAverageData').getAttribute('team2'));
    var worseTeam1 = eval(document.getElementById('worseAverageData').getAttribute('team1'));
    var worseTeam2 = eval(document.getElementById('worseAverageData').getAttribute('team2'));
    var justCountry = eval(document.getElementById('mapData').getAttribute('justCountry'))
    console.log(betterTeam1);
    console.log(betterTeam2);
    console.log(worseTeam1);
    console.log(worseTeam2);


    var datasetList = [];
    colorsList = ["#f3545d", "#EC3103", "#FF8F01", "#FFC101", "#F6E10D", "#11E80B", "#0BE880", "#0BD0E8", "#2AA1E9", "#385BDE", "#7A33B9", "#C541D5", "#FF00D1", "##FF00A2", "#00ff00", "#ffff66", "#ff6699", "#6699ff", "#00ccff", "#00cc66", "#1d7af3", "#f3545d", "#59d05d", "#1d7af3"]

    for (index = 0; index < yAxis.length; index++) {
        var hiddenVal;
        if (index == 0) {
            hiddenVal = false;
        } else {
            hiddenVal = true;
        }
        data = {
            label: teams[index],
            borderColor: colorsList[index],
            pointBorderColor: "#FFF",
            pointBackgroundColor: colorsList[index],
            pointBorderWidth: 2,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 1,
            pointRadius: 4,
            backgroundColor: 'transparent',
            fill: true,
            borderWidth: 2,
            hidden: hiddenVal,
            data: yAxis[index]
        };
        datasetList.push(data);
    }
    var myMultipleLineChart = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: xAxis,
            datasets: datasetList,
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom',
            },
            tooltips: {
                bodySpacing: 4,
                mode: "nearest",
                intersect: 0,
                position: "nearest",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 10
            },
            layout: {
                padding: { left: 15, right: 15, top: 15, bottom: 15 }
            }
        }
    });

    $('#lineChartSpark1').sparkline(betterTeam1, {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#f3545d',
        fillColor: 'rgba(243, 84, 93, 0.14)'
    });
    $('#lineChartSpark2').sparkline(betterTeam2, {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#f3545d',
        fillColor: 'rgba(243, 84, 93, 0.14)'
    });
    $('#lineChartSpark3').sparkline(worseTeam1, {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#f3545d',
        fillColor: 'rgba(243, 84, 93, 0.14)'
    });
    $('#lineChartSpark4').sparkline(worseTeam2, {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#f3545d',
        fillColor: 'rgba(243, 84, 93, 0.14)'
    });
    $('#map-example').vectorMap(
        {
            map: 'world_en',
            backgroundColor: 'transparent',
            borderColor: '#f3545d',
            borderWidth: 2,
            color: '#e4e4e4',
            enableZoom: true,
            hoverColor: '#f3545d',
            hoverOpacity: null,
            normalizeFunction: 'linear',
            scaleColors: ['#f3545d', '#f3545d'],
            selectedColor: '#f3545d',
            selectedRegions: justCountry,
            showTooltip: true,
            onRegionClick: function (element, code, region) {
                return false;
            },
            onResize: function (element, width, height) {
                console.log('Map Size: ' + width + 'x' + height);
            },
        });
    $('#autoSubmit').click(function () {
        $('#mapForm').submit()
    });
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });
</script>
{% endblock javascripts %}