
<!-- (Almost) A blank page -->
    <!-- Card -->
    <div id="barGraphData" data="{{barGraphData}}" labels="{{barLabels}}"></div>
    <div id="betterData" team1="{{betterTeamData1}}" team2="{{betterTeamData2}}"></div>
    <div id="worseData" team1="{{worseTeamData1}}" team2="{{worseTeamData2}}"></div>
    <div id="mapData" justCountry="{{justCountryRankings}}"></div>
    <div id="profile" content="{{profilePic}}"></div>
    <h4 class="page-title">{{team_name}}:</h4>
    
    <form method="post" id="actForm">
    
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Events: </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Choose:</label>
                            {% csrf_token %}
                            {% for event, sku in topBarList %}
                            <div class="selectgroup selectgroup-danger w-100">
                                <label class="selectgroup-item">
                                    {% if forloop.counter == 1 %}
                                    <input type="radio" name="listInput" value="{{sku}}" class="selectgroup-input" onchange='if(this.value != "myPosition") { this.form.submit(); }' checked>
                                    {% else %}
                                    <input type="radio" name="listInput" value="{{sku}}" class="selectgroup-input" onchange='if(this.value != "myPosition") { this.form.submit(); }'>
                                    {% endif %}
                                    <span class="selectgroup-button">{{event}}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Progression</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" style="height:500px;">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- tableData.append([team["number"],
                        teamer["rank"],teamer["wins"],teamer["losses"],teamer["ties"],teamer["ap"],teamer["wp"],teamer["sp"],teamer["max_score"],teamer["opr"],teamer["dpr"],teamer["trsp"],teamer["ccwm"],teamer["rank"]]) -->
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Progression Data: </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Rank</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>Ties</th>
                                    <th>AP</th>
                                    <th>WP</th>
                                    <th>SP</th>
                                    <th>Max Score</th>
                                    <th>OPR</th>
                                    <th>DPR</th>
                                    <th>TRSP</th>
                                    <th>CCWM</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Number</th>
                                    <th>Rank</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>Ties</th>
                                    <th>AP</th>
                                    <th>WP</th>
                                    <th>SP</th>
                                    <th>Max Score</th>
                                    <th>OPR</th>
                                    <th>DPR</th>
                                    <th>TRSP</th>
                                    <th>CCWM</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in tableData %}
                                <tr>
                                    <td><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></td>
                                    <td>{{team.1}}</td>
                                    <td>{{team.2}}</td>
                                    <td>{{team.3}}</td>
                                    <td>{{team.4}}</td>
                                    <td>{{team.5}}</td>
                                    <td>{{team.6}}</td>
                                    <td>{{team.7}}</td>
                                    <td>{{team.8}}</td>
                                    <td>{{team.10}}</td>
                                    <td>{{team.11}}</td>
                                    <td>{{team.12}}</td>
                                    <td>{{team.13}}</td>
                                    <td>{{team.14}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            {% for betterTeam in betterTeamData %}
            <div class="card">
                <div class="card-body">
                    <div class="h2 fw-bold float-right text-danger">Rank: {{betterTeam.1.11}}</div>
                    <h2 class="mb-2"><a href="../../team/{{betterTeam.0}}" class="text-light">{{betterTeam.0}}</a></h2>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="BetbarChartCombined{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for worseTeam in worseTeamData %}
            <div class="card">
                <div class="card-body">
                    <div class="h2 fw-bold float-right text-danger">Rank: {{worseTeam.1.11}}</div>
                    <h2 class="mb-2"><a href="../../team/{{worseTeam.0}}" class="text-light">{{worseTeam.0}}</a></h2>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="WorbarChartCombined{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row row-card-no-pd">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <h4 class="card-title">Event Map: </h4>
                    </div>
                </div>
                <p class="card-category">
                    Scout For Teams All Around The World!</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mapcontainer">
                            <div id="map-exampleRankings" class="vmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}