
<!-- (Almost) A blank page -->
    <!-- data  -->
    <!-- Card -->
    <div id="scatterGraphDataDriver" data="{{driverLinePlotData}}"></div>
    <div id="barGraphDataDriver" data="{{driverBarPlotData}}"></div>
    <div id="betterAverageDataDriver" team1="{{betterDriverAverageTeam1}}" team2="{{betterDriverAverageTeam2}}"></div>
    <div id="worseAverageDataDriver" team1="{{worseDriverAverageTeam1}}" team2="{{worseDriverAverageTeam2}}"></div>
    <div id="BetterBarTeamDriver" team1="{{betterDriverAverageTeamtopScore1}}" team2="{{betterDriverAverageTeamtopScore2}}">
    </div>
    <div id="WorseBarTeamDriver" team1="{{worseDriverAverageTeamtopScore1}}" team2="{{worseDriverAverageTeamtopScore2}}">
    </div>
    
    <div id="scatterGraphDataProgramming" data="{{programmingLinePlotData}}"></div>
    <div id="barGraphDataProgramming" data="{{programmingBarPlotData}}"></div>
    <div id="betterAverageDataProgramming" team1="{{betterProgrammingAverageTeam1}}"
        team2="{{betterProgrammingAverageTeam2}}"></div>
    <div id="worseAverageDataProgramming" team1="{{worseProgrammingAverageTeam1}}" team2="{{worseProgrammingAverageTeam2}}">
    </div>
    <div id="BetterBarTeamProgramming" team1="{{betterProgrammingAverageTeamtopScore1}}"
        team2="{{betterProgrammingAverageTeamtopScore2}}"></div>
    <div id="WorseBarTeamProgramming" team1="{{worseProgrammingAverageTeamtopScore1}}"
        team2="{{worseProgrammingAverageTeamtopScore2}}"></div>
    
    <div id="scatterGraphDataCombined" data="{{combinedLinePlotData}}"></div>
    <div id="barGraphDataCombined" data="{{combinedBarPlotData}}"></div>
    <div id="betterAverageDataCombined" team1="{{betterCombinedAverageTeam1}}" team2="{{betterCombinedAverageTeam2}}"></div>
    <div id="worseAverageDataCombined" team1="{{worseCombinedAverageTeam1}}" team2="{{worseCombinedAverageTeam2}}"></div>
    <div id="BetterBarTeamCombined" team1="{{betterCombinedAverageTeamtopScore1}}"
        team2="{{betterCombinedAverageTeamtopScore2}}"></div>
    <div id="WorseBarTeamCombined" team1="{{worseCombinedAverageTeamtopScore1}}"
        team2="{{worseCombinedAverageTeamtopScore2}}"></div>
    
    <div id="profile" content="{{profilePic}}"></div>
    <div id="mapData" justCountry="{{justCountrySkills}}"></div>
    <h4 class="page-title" id="matchesPart" style="text-align:center;font-size:40px;color:#f3545d;font-weight:bold;">Skills</h4>
    <!-- driver skills -->
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Driver Skills Average: </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:600px;">
                        <canvas id="driverSkillsChartScatter"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Driver Skills Top Score: </div>
    
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:300px;">
                        <canvas id="driverSkillsChartBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Driver Data: </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
    
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in tableList %}
                                <tr>
                                    <td><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></td>
                                    <td>{{team.1}}</td>
                                    <td>{{team.2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="icon-graph text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Average</p>
                                <h4 class="card-title">{{myDriverAverage}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-graph-2 text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Top Score</p>
                                <h4 class="card-title">{{myDriverTopScore}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for team in similarAveragesGreaterFull2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartDriverBetter{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFull2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">-{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartDriverWorse{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for team in similarAveragesGreaterFull1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSkillsBetter{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFull1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">-{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSkillsWorse{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- programming skills  -->
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Programming Skills Average: </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:600px;">
                        <canvas id="programmingSkillsChartScatter"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Programming Skills Top Score: </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:300px;">
                        <canvas id="programmingSkillsChartBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Programming Data: </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
    
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in tableListProgramming %}
                                <tr>
                                    <td><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></td>
                                    <td>{{team.1}}</td>
                                    <td>{{team.2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="icon-graph text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Average</p>
                                <h4 class="card-title">{{myProgrammingAverage}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-graph-2 text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Top Score</p>
                                <h4 class="card-title">{{myProgrammingTopScore}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    
        {% for team in similarAveragesGreaterFullProgramming2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartProgrammingBetter{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFullProgramming2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">-{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartProgrammingWorse{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for team in similarAveragesGreaterFullProgramming1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSparkBetterProgramming{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFullProgramming1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSparkWorseProgramming{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- combined skills -->
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Combined Skills Average: </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:600px;">
                        <canvas id="combinedSkillsChartScatter"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Combined Skills Top Score: </div>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="height:300px;">
                        <canvas id="combinedSkillsChartBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Combined Data: </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Team</th>
                                    <th>Top Score</th>
                                    <th>Average</th>
    
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in tableListcombined %}
                                <tr>
                                    <td><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></td>
                                    <td>{{team.1}}</td>
                                    <td>{{team.2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="icon-graph text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Average</p>
                                <h4 class="card-title">{{myCombinedAverage}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-stats card-round" style="padding: 10px 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-graph-2 text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">My Top Score</p>
                                <h4 class="card-title">{{myCombinedTopScore}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    
        {% for team in similarAveragesGreaterFullCombined2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartCombinedBetter{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFullCombined2 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h1 fw-bold float-right text-danger">-{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Top Score: {{team.1}}</p>
                    <div class="d-flex justify-content-center p-3" style="height:200px;">
                        <canvas id="barChartCombinedWorse{{forloop.counter}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for team in similarAveragesGreaterFullCombined1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">+{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSparkBetterCombined{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% for team in similarAveragesLesserFullCombined1 %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right text-danger">-{{team.2}}%</div>
                    <h2 class="mb-2"><a href="../../team/{{team.0}}" class="text-light">{{team.0}}</a></h2>
                    <p class="text-muted">Current Average: {{team.1}}</p>
                    <div class="pull-in sparkline-fix">
                        <div id="lineChartSparkWorseCombined{{forloop.counter}}"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row-card-no-pd">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <h4 class="card-title">Global Map: </h4>
                    </div>
                </div>
                <p class="card-category">
                    Scout For Teams All Around The World!</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mapcontainer">
                            <div id="map-exampleSkills" class="vmap"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive table-hover table-sales">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>Top Score</th>
                                        <th>Top Score</th>
                                        <th>Average</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for team in allTeamData %}
                                    <tr>
                                        <td>
                                            <div class="flag">
                                                <img src="/static/assets/img/flags/{{team.3}}.png" alt="{{team.0}}">
                                            </div>
                                        </td>
                                        <td><a href="../../team/{{team.1}}" class="text-light">{{team.1}}</a></td>
                                        <td>{{team.4}}</td>
                                        <td>{{team.2}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}